<footer class="bg-primary text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Section À propos -->
        <div class="col-md-4 mb-3">
          <h5>À propos</h5>
          <p>
            L'UNESST est l'Union des Étudiants et Stagiaires Sénégalais en Tunisie. Nous favorisons la culture, l'intégration et le développement professionnel de nos membres.
          </p>
        </div>
        <!-- Section Liens rapides -->
        <div class="col-md-4 mb-3">
          <h5>Liens rapides</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="/">Accueil</a></li>
            <li><a class="text-white" href="/about">À propos</a></li>
            <li><a class="text-white" href="/events">Activités</a></li>
            <li><a class="text-white" href="/news">Documents Utiles</a></li>
            <li><a class="text-white" href="/membership">Adhésion</a></li>
            <li><a class="text-white" href="/contact">Contact</a></li>
          </ul>
        </div>
         <!-- Section Contact -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Nous Contacter</h5>
        <p><i class="bi bi-geo-alt"></i> 16-14 Mouhamed Badra Mont plaisir</p>
        <p><i class="bi bi-telephone"></i> (+216) 58 282 034 / (+216) 52 357 277</p>
     
        <p><i class="bi bi-envelope"></i> 
          <a href="mailto:tunis.unesst&#64;gmail.com" class="text-light">tunis.unesst&#64;gmail.com</a>
        </p>
        <div>
          <strong>Réseaux sociaux :</strong>
          <a href="https://www.facebook.com/share/1C1usHJWwT/?mibextid=wwXIfr" class="text-light mx-2"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/unesst_sn?igsh=MXJ0ZTQ5a2I0d2hoeA==" class="text-light mx-2"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/unesst-tunis-801860278/" class="text-light mx-2"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
        
      </div>
      <!-- Section bas de page -->
      <div class="text-center mt-3">
        <p>&copy; 2025 MD. Tous droits réservés.</p>
        <a href="https://www.linkedin.com/in/modou-dia-1a90b9308/" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>
  